<%- include("basic-header", {title: title}); %>

<% res = res[0] %>

<div id="wrapper">
  <div id="leftWrapper">
      <div id="listView" class="list">
        <li><a href="/vacc/dashboard">Home</a></li>
        <li><a href="/vacc/dashboard/users">Users</a></li>
        <li class="list-item-active"><a href="/vacc/dashboard/settings">Settings</a></li>
        <li><a href="/vacc/logout">Logout
        <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </div>
    </div>

    <div id="rightWrapper">

        <div class="search">
          <form id="usrform" class="search-field" >
            <p id="change-pass-message">Password changed successfully!</p>
            <input type="button" id="search-button" name="cancel" value="Confirm" onClick="window.location.href='/vacc/dashboard/settings';" />
          </form>
        </div>

    </div>
</div>

<%- include("footer"); %>
