<%- include("basic-header", {title: title}); %>

<div id="wrapper">
  <div id="leftWrapper">
      <div id="listView" class="list">
        <li class="list-item-active"><a href="/vacc/dashboard">Home</a></li>
        <li><a href="/vacc/dashboard/users">Users</a></li>
        <li><a href="/vacc/dashboard/settings">Settings</a></li>
        <li><a href="/vacc/logout">Logout
        <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </div>
    </div>

    <div id="rightWrapper">
      <div id="contentWrapper">
        <article id="showCase">
            <div class="article-header">Hello <%= res[0].name %>,
                how are you today?</div>
          <section>
            Some text or some stuffs here
          </section>

          <section>
            Some more stuff here
          </section>

          <section>
            Some more stuff here
          </section>

          <section>
            Some more stuff here
          </section>
        </article>

        <article id="links">
          <section>
            <a href="#">link</a>

            <a href="#">link</a>

            <a href="#">link</a>

            <a href="#">link</a>
          </section>
        </article>

        <article>
          <div class="article-header">Inspiration can be the key</div>
          <section>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum vestibulum felis, vitae lobortis mi imperdiet sed. Aliquam aliquet scelerisque turpis consectetur iaculis. Nulla faucibus volutpat sem, vel fermentum ipsum dictum a.<br/><br/>Vestibulum et augue quis magna pretium feugiat sit amet a risus. Sed accumsan enim vitae magna finibus laoreet at a purus.
          </section>
        </article>
      </div>
    </div>
</div>

<%- include("footer"); %>
