<%- include("basic-header", {title: title}); %>

<div id="wrapper">
  <div id="leftWrapper">
      <div id="listView" class="list">
        <li><a href="/vacc/dashboard">Home</a></li>
        <li class="list-item-active"><a href="/vacc/dashboard/patients">Patients</a></li>
        <li><a href="/vacc/dashboard/settings">Settings</a></li>
        <li><a href="/vacc/logout">Logout
        <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </div>
    </div>

    <div id="rightWrapper">

        <div class="search">
          <form id="usrform" class="search-field" action="/vacc/dashboard/patients/add" method="POST">
            <p>Firstname</p>
            <input type="text" name="firstname" required>
            <p>Lastname</p>
            <input type="text" name="lastname" required>
            <p>Personal Number</p>
            <input id="pNumber" onkeyup='patientCheck(); validateInput();' type="text" name="pNumber" required>
            <span style="display: none; color: #cc4747;" id="patient_exists">Patient already exists</span>
            <span style="display: none; color: #cc4747;" id="patient_number">Not a valid personal number</span>
            <p>Vaccine</p>
            <input type="text" name="vaccine" required>
            <p>Notes</p>
            <textarea name="note" rows="6" cols="40" form="usrform"></textarea>
            <input type="submit" id="search-button" value="Create" required>
            <input style="display: none;" type="button" id="fake-button" name="cancel" value="Create">
          </form>
        </div>

    </div>
</div>

 <script type="text/javascript">
   // get personal numbers that exist an put them in array numbers.
    let arr = <%- JSON.stringify(pNumbers); %>
    console.log(arr);
    let numbers = [];
    for(var i=0; i < arr.length; i++){
      numbers.push(arr[i].personal_number);
    }
    console.log(numbers);

    var validateInput = function () {
      // regex for swedish personal number
      var format = /^(19|20)?\d{2}(01|02|03|04|05|06|07|08|09|10|11|12)((0[1-9])|(1|2)[0-9]|(30|31))-\d{4}$/;
      if (document.getElementById("pNumber").value.match(format)) {
        // if it matches format
        document.getElementById('pNumber').style.border = 'solid #47cc54 1px';
        document.getElementById('patient_number').style.display = 'none';
        document.getElementById('search-button').style.display = 'inline-block';
        document.getElementById('fake-button').style.display = 'none';
        return true;
      } else {
        // if it doesnt match format
        document.getElementById('pNumber').style.border = 'solid #cc4747 1px';
        document.getElementById('patient_number').style.display = 'inline-block';
        document.getElementById('search-button').style.display = 'none';
        document.getElementById('fake-button').style.display = 'inline-block';
        return false;
      }
    }


   // checks if username is available
    var patientCheck = function(){
      if (numbers.indexOf(document.getElementById('pNumber').value) >= 0) {
        document.getElementById('pNumber').style.border = 'solid #cc4747 1px';
        document.getElementById('search-button').style.display = 'none';
        document.getElementById('fake-button').style.display = 'inline-block';
        document.getElementById('patient_exists').style.display = 'inline-block';
      }
      else{
        document.getElementById('pNumber').style.border = 'solid #47cc54 1px';
        document.getElementById('search-button').style.display = 'inline-block';
        document.getElementById('fake-button').style.display = 'none';
        document.getElementById('patient_exists').style.display = 'none';
      }
    }
  </script>

<%- include("footer"); %>
